body {
    text-align: center;
}

div {
    margin-top: 10px;
    padding: 20px 20px;
    width: 500px;
    border: 1px dashed slategrey;
    margin: 10px auto;
}

h1 {
    text-decoration: underline;
}


